<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Settings</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal('Cross click')">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">

  <table *ngIf="stationStatistic" class="table table-sm table-dark borderless">
    <tr>
      <td>ID</td>
      <td>{{stationStatistic.station.id}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{stationStatistic.station.name}}</td>
    </tr>
    <tr>
      <td>Serial</td>
      <td>{{stationStatistic.station.serial}}</td>
    </tr>
    <tr>
      <td>LAT/LONG</td>
      <td>{{stationStatistic.station.latitude}} / {{stationStatistic.station.longitude}}</td>
    </tr>
  </table>

  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <td>Gas</td>
        <td>Pollution</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <table *ngIf="stationStatistic" class="table table-sm table-dark borderless">
            <tr>
              <td>Status</td>
              <td [ngClass]="stationStatistic.statistics.gas.status == 'NORMAL' ? 'text-success' : 'text-warning'">{{stationStatistic.statistics.gas.status}}</td>
            </tr>
            <tr>
              <td>Interval</td>
              <td class="text-info">{{stationStatistic.statistics.gas.interval}}</td>
            </tr>
          </table>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn" (click)="resumeGas()">
              <fa-icon [icon]="faPlay" size="1x"></fa-icon>
            </button>
            <button class="btn" (click)="pauseGas()">
              <fa-icon [icon]="faPause" size="1x"></fa-icon>
            </button>
            <form #changeGasIntervalForm="ngForm" class="form-inline" (ngSubmit)="changeGasInterval(changeGasIntervalForm.value)">
              <div class="form-group mx-sm-3 mb-2">
                <label for="gas-interval-input" class="sr-only">Interval</label>
                <input type="number" class="form-control" name="gasInterval" id="gas-interval-input" placeholder="interval" ngModel>
              </div>
              <button type="submit" class="btn btn-primary mb-2">Update</button>
            </form>
          </div>
        </td>
        <td>
          <table *ngIf="stationStatistic" class="table table-sm table-dark borderless">
            <tr>
              <td>Status</td>
              <td [ngClass]="stationStatistic.statistics.pollution.status == 'NORMAL' ? 'text-success' : 'text-warning'">{{stationStatistic.statistics.pollution.status}}</td>
            </tr>
            <tr>
              <td>Interval</td>
              <td class="text-info">{{stationStatistic.statistics.pollution.interval}}</td>
            </tr>
          </table>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn" (click)="resumePollution()">
              <fa-icon [icon]="faPlay" size="1x"></fa-icon>
            </button>
            <button class="btn" (click)="pausePollution()">
              <fa-icon [icon]="faPause" size="1x"></fa-icon>
            </button>
            <form #changePollutionIntervalForm="ngForm" class="form-inline" (ngSubmit)="changePollutionInterval(changePollutionIntervalForm.value)">
              <div class="form-group mx-sm-3 mb-2">
                <label for="pollution-interval-input" class="sr-only">Interval</label>
                <input type="number" class="form-control" name="pollutionInterval" id="pollution-interval-input" placeholder="interval" ngModel>
              </div>
              <button type="submit" class="btn btn-primary mb-2">Update</button>
            </form>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeModal('Save click')">Ok</button>
</div>
